.Rproj.user
.Rhistory
.RData
.Ruserdata
gkwdist.Rproj
src/*.o
src/*.so
src/*.dll
inst/doc
TODO.md

# Dropbox sync conflict copies
*Cópia em conflito*
*conflicted copy*

# LaTeX build artefacts from local paper compiles
inst/paper/*.log
inst/paper/*.aux
inst/paper/*.out
